Import library

In [2]:
import pandas as pd

### Create a dataframe views with two columns: datetime and user by reading feed- views.log

In [6]:
df = pd.DataFrame(pd.read_csv('../data/feed-views.log',
                              delimiter='\t',
                              names=['datetime', 'user']))

                        datetime       user
0     2020-04-17 12:01:08.463179      artem
1     2020-04-17 12:01:23.743946      artem
2     2020-04-17 12:27:30.646665      artem
3     2020-04-17 12:35:44.884757      artem
4     2020-04-17 12:35:52.735016      artem
...                          ...        ...
1071  2020-05-21 18:45:20.441142  valentina
1072  2020-05-21 23:03:06.457819      maxim
1073  2020-05-21 23:23:49.995349      pavel
1074  2020-05-21 23:49:22.386789      artem
1075  2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]

Convert the datetime to the datetime64[ns] Dtype

In [11]:
df['datetime'] = pd.to_datetime(df['datetime'])

0      2020-04-17 12:01:08.463179
1      2020-04-17 12:01:23.743946
2      2020-04-17 12:27:30.646665
3      2020-04-17 12:35:44.884757
4      2020-04-17 12:35:52.735016
                  ...
1071   2020-05-21 18:45:20.441142
1072   2020-05-21 23:03:06.457819
1073   2020-05-21 23:23:49.995349
1074   2020-05-21 23:49:22.386789
1075   2020-05-22 10:36:14.662600
Name: datetime, Length: 1076, dtype: datetime64[ns]

extract the year, month, day, hour, minute, and second from the values of that
column to the new columns

In [17]:
dt64 = pd.DatetimeIndex(df['datetime'])
df['year'] = dt64.year
df['month'] = dt64.month
df['day'] = dt64.day
df['hour'] =dt64.hour
df['minute'] = dt64.minute
df['second'] = dt64.second

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

### create the new column daytime

In [26]:
intervals = [0, 4, 7, 11, 17, 19, 24]
labels = ['night', 'early morning', 'morning',
          'afternoon', 'early evening', 'evening']
df['daytime'] = pd.cut(df['hour'], intervals, right=False, labels=labels)

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

### calculate the number of elements in your dataframe

◦ use the method count()

In [27]:
df.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

◦ calculate the number of elements in each time of day category using the method value_counts()

In [31]:
df['daytime'].value_counts()

evening          548
afternoon        252
night            129
early evening    106
morning           36
early morning      5
Name: daytime, dtype: int64

### • sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)

In [33]:
df.sort_values(by=['hour', 'minute', 'second'])

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

### • calculate the minimum and maximum for the hours and the mode for the daytime categories

◦ calculate the maximum of hour for the rows where the time of day is night

In [35]:
max_hours_night = df[df['daytime'] == 'night']['hour'].max()
print(max_hours_night)

3

◦ calculate the minimum of hour for the rows where the time of day is morning

In [41]:
min_hours_morning = df[df['daytime'] == 'morning']['hour'].min()
print(min_hours_morning)

8


◦ In addition to this, find out who visited the page at those hours (make one example from that

In [45]:
df[df['hour'] == max_hours_night].index[0]

'konstantin'

◦ calculate the mode for the hour and daytime

In [49]:
df['hour'].mode()

0    22
dtype: int64

In [48]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

### • show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()

In [51]:
morning = df[df['daytime'] == 'morning']
morning.nsmallest(3, 'hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
artem,2020-04-24 09:42:47.598208,2020,4,24,9,42,47,morning

In [52]:
morning.nlargest(3, 'hour')

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-18 10:53:52.623447,2020,4,18,10,53,52,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,morning
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,morning

### • use the method describe() to get the basic statistics for the columns
[IRQ](https://www.geeksforgeeks.org/how-to-use-pandas-filter-with-iqr/)

In [55]:
descriptive_statistics =df['hour'].describe()

In [56]:
IRQ = descriptive_statistics['75%'] - descriptive_statistics['25%']
print(IRQ)

9.0